* {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  background-color: #424549;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  font-family: Garamond;
}

/* This is for the animation */
@-webkit-keyframes Fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/*Start of header */

header, .HeadingContainer {
  background-color: #1e2124;
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  color: #ffffff;
}

.Heading {
  font-size: 50px;
  position: relative;
  text-align: left;
  color: #ffffff;
}

li {
  position: relative;
  margin: 30px;
  display: inline;
  bottom: 10px;
}

.headerNav {
  font-size: 18px;
  background-color: inherit;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}

.headerNav:hover {
  background-color: #ffffff;
  color: #424549;
}

/*End of header */

/*Start of content */

.bodyHeading {
  position: relative;
  text-align: center;
  font-size: 60px;
  margin: 40px;
  color: #ffffff;
  animation-name: Fade;
  animation-duration: 1s;
}


.HR {
  border-color: #ffffff;
}

.divBody {
  width: 100%;
  position: relative;
  text-align: center;
  color: #ffffff;
  animation-name: Fade;
  animation-duration: 1s;
}

.divBox {
  width: 480px;
  height: 400px;
  margin: 25px;
  padding: 30px;
  background-color: #1e2124;
}

.divBox, .divBoxImage{
  display: inline-block;
}

.subHeadBody{
  font-size: 25px;
  text-align: center;
  position: relative;
  color: #ffffff;

}

.divP {
  font-size: 20px;
  color: #ffffff;
  text-align: left;
  padding: 20px;
  position: relative;
  top: 5%;
}

.divBoxImage {
  float: right;
  margin-right: 20px;
  text-align: center;
}


#ImageBox {
  float: left;
  margin-left: 20px;
  text-align: center;
}

img {
  position: relative;
  padding: 30px;
}

.homeP {
  text-align: center;
}

#homeButton {
  background-color: #1e2124;
}

#homeButton:hover {
  background-color: #ffffff;
}

/*End of content */

/*Start of footer */

footer {
  background-color: #1e2124;
  position: relative;
  bottom: 0;
  height: 70px;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
  padding-top: 40px;
}

/*End of footer */

/* For Mobile Phones */
@media screen and (max-width: 470px) {

  .headerNav {
    font-size: 13px;
  }

  ul {
    padding: 10px;
    padding-bottom: 0px;
  }

  li {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .Heading {
    text-align: center;
  }

  .divBody {
    height: auto;
  }

  #Story {
    height: auto;
    width: 80%;
  }


  .divBox {
    width: 80%;
    height: auto;
    margin: 10px;
    padding: 20px;
  }

  .divBoxImage {
    float: none;
    margin-right: 0px;
  }

  #ImageBox {
    float: none;
    margin-left: 0px;
  }

  #EldenRing1 {
    height: 80%;
    width: 85%;
  }

  #EldenRing2 {
    height: 80%;
    width: 85%
  }

  #Ghost1 {
    width: 85%;
    height: 75%;
  }

  #Ghost2 {
    width: 85%;
    height: 65%;
  }

  img {
    padding: 10px;
  }
}

/* For Tablets and Laptops and Desktop */
@media screen and (max-width: 1440px) and (min-width: 471px) {

  .divBody {
    height: auto;
  }

  #Story {
    height: auto;
    width: 80%;
  }


  .divBox {
    width: 80%;
    height: auto;
    margin: 10px;
    padding: 20px;
  }

  .divBoxImage {
    float: none;
    margin-right: 0px;
  }

  #ImageBox {
    float: none;
    margin-left: 0px;
  }

  #EldenRing1 {
    height: 80%;
    width: 85%;
  }

  #EldenRing2 {
    height: 80%;
    width: 85%
  }

  #Ghost1 {
    width: 90%;
    height: 80%;
  }

  #Ghost2 {
    width: 85%;
    height: 65%;
  }

  img {
    padding: 10px;
  }
}

/* For laptops and Desktop */
@media screen and (min-width: 1441px) {

  #Story {
    width: 50%;
    height: auto;
  }

  .divBox {
    width: 50%;
    height: auto;
  }

  .divBoxImage {
    margin-right: 0px;
    float: none;
  }

  #ImageBox {
    margin-left: 110px;
    width: 35%;
    height: 25%;
    float: left;
  }

  #EldenRing1{
    width: 95%;
    height: 90%;
  }

  #EldenRing2 {
    width: 80%;
    height: 60%
  }

  #Ghost1 {
    width: 100%;
    height: 90%;
  }

  #Ghost2 {
    width: 90%;
    height: 70%;
  }

  .subHeadBody {
    font-size: 33px;
  }

  .divP {
    font-size: 28px;
  }
}
